<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Flask</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class = "titulo">
        <h3 class = "projeto">Projeto Flask</h3>
    </div>
    <h5 class = "senai" >@SenaiSC</h5>
    <div>
        <p>Bem vindo a aula de Flask!!!</p>
        <a class = "sobreNos" href="{{url_for('sobre')}}"> Link para a nova pagina</a>
    </div>
    <div class = "sobreeu">
        <h1> Nome: {{nome}} </h1>
        <p> Idade: {{idade}} </p>
        <h3>Interesses: </h3>
        <ul>
            {% for interesse in interesses %}
                <li>{{ interesse }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>