<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="../static/sobre.css">
</head>
<body>
    <div class="container">
        <h1 class = "sobrenostitulo">Sobre Nós</h1>
        <p>Este projeto foi desenvolvido durante a aula de Flask no SENAI-SC.</p>
        <p>Nosso objetivo é aprender como criar aplicações web com Python e Flask.</p>
        <a class = "voltar" href="{{url_for('homepage')}}">Voltar para a Página Principal</a>
    </div>
</body>
</html>
